<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoucai.zucai.mapper.BorrowIntentMapper" >
  <resultMap id="BaseResultMap" type="com.zoucai.zucai.model.BorrowIntent" >
    <id column="lBorrowIntentId" property="lBorrowIntentId" jdbcType="BIGINT" />
    <result column="lBorrowerId" property="lBorrowerId" jdbcType="BIGINT" />
    <result column="strBorrowerName" property="strBorrowerName" jdbcType="VARCHAR" />
    <result column="strIdCardType" property="strIdCardType" jdbcType="VARCHAR" />
    <result column="strIdCardNo" property="strIdCardNo" jdbcType="VARCHAR" />
    <result column="strBorrowerMobile" property="strBorrowerMobile" jdbcType="VARCHAR" />
    <result column="strRegularAccount" property="strRegularAccount" jdbcType="VARCHAR" />
    <result column="strLoginId" property="strLoginId" jdbcType="VARCHAR" />
    <result column="strBankCardNo" property="strBankCardNo" jdbcType="VARCHAR" />
    <result column="strBankName" property="strBankName" jdbcType="VARCHAR" />
    <result column="strBankCode" property="strBankCode" jdbcType="VARCHAR" />
    <result column="strBankReverseMobile" property="strBankReverseMobile" jdbcType="VARCHAR" />
    <result column="strAttachURL" property="strAttachURL" jdbcType="VARCHAR" />
    <result column="nBorrowProductType" property="nBorrowProductType" jdbcType="VARCHAR" />
    <result column="lBorrowProductId" property="lBorrowProductId" jdbcType="BIGINT" />
    <result column="nYearRate" property="nYearRate" jdbcType="INTEGER" />
    <result column="lChannelBorrowIntentId" property="lChannelBorrowIntentId" jdbcType="BIGINT" />
    <result column="strChannelDealSN" property="strChannelDealSN" jdbcType="VARCHAR" />
    <result column="strPurpose" property="strPurpose" jdbcType="VARCHAR" />
    <result column="strBorrowAgreementURL" property="strBorrowAgreementURL" jdbcType="VARCHAR" />
    <result column="nTermCount" property="nTermCount" jdbcType="TINYINT" />
    <result column="nDayCount" property="nDayCount" jdbcType="INTEGER" />
    <result column="lBorrowAmount" property="lBorrowAmount" jdbcType="BIGINT" />
    <result column="lExtraFee" property="lExtraFee" jdbcType="BIGINT" />
    <result column="strBankBidId" property="strBankBidId" jdbcType="VARCHAR" />
    <result column="nState" property="nState" jdbcType="TINYINT" />
    <result column="nMatchCallbackState" property="nMatchCallbackState" jdbcType="INTEGER" />
    <result column="nProtocolState" property="nProtocolState" jdbcType="INTEGER" />
    <result column="nAutoPackageCallbackState" property="nAutoPackageCallbackState" jdbcType="INTEGER" />
    <result column="strFailDesc" property="strFailDesc" jdbcType="VARCHAR" />
    <result column="strRemark" property="strRemark" jdbcType="VARCHAR" />
    <result column="strPublishBidDealSN" property="strPublishBidDealSN" jdbcType="VARCHAR" />
    <result column="strBidDealSN" property="strBidDealSN" jdbcType="VARCHAR" />
    <result column="strLoanDealSN" property="strLoanDealSN" jdbcType="VARCHAR" />
    <result column="lDebtPackageId" property="lDebtPackageId" jdbcType="BIGINT" />
    <result column="dtLoanTime" property="dtLoanTime" jdbcType="TIMESTAMP" />
    <result column="dtRepayTime" property="dtRepayTime" jdbcType="TIMESTAMP" />
    <result column="strBorrowEndDate" property="strBorrowEndDate" jdbcType="VARCHAR" />
    <result column="lRepayPrincipalAmount" property="lRepayPrincipalAmount" jdbcType="BIGINT" />
    <result column="lRepayInterestAmount" property="lRepayInterestAmount" jdbcType="BIGINT" />
    <result column="nCompensatory" property="nCompensatory" jdbcType="TINYINT" />
    <result column="dtNextCallbackTime" property="dtNextCallbackTime" jdbcType="TIMESTAMP" />
    <result column="nCallbackState" property="nCallbackState" jdbcType="INTEGER" />
    <result column="strCallbackURL" property="strCallbackURL" jdbcType="VARCHAR" />
    <result column="nCallBackCount" property="nCallBackCount" jdbcType="INTEGER" />
    <result column="dtCallBackTime" property="dtCallBackTime" jdbcType="TIMESTAMP" />
    <result column="strCallbackFailDesc" property="strCallbackFailDesc" jdbcType="VARCHAR" />
    <result column="dtCreateTime" property="dtCreateTime" jdbcType="TIMESTAMP" />
    <result column="tsRefreshTime" property="tsRefreshTime" jdbcType="TIMESTAMP" />
    <result column="nIsGuarantee" property="nIsGuarantee" jdbcType="INTEGER" />
    <result column="strWarrantCardNo" property="strWarrantCardNo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zoucai.zucai.model.BorrowIntent" extends="BaseResultMap" >
    <result column="txtMatchDetail" property="txtMatchDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lBorrowIntentId, lBorrowerId, strBorrowerName, strIdCardType, strIdCardNo, strBorrowerMobile, 
    strRegularAccount, strLoginId, strBankCardNo, strBankName, strBankCode, strBankReverseMobile, 
    strAttachURL, nBorrowProductType, lBorrowProductId, nYearRate, lChannelBorrowIntentId, 
    strChannelDealSN, strPurpose, strBorrowAgreementURL, nTermCount, nDayCount, lBorrowAmount, 
    lExtraFee, strBankBidId, nState, nMatchCallbackState, nProtocolState, nAutoPackageCallbackState, 
    strFailDesc, strRemark, strPublishBidDealSN, strBidDealSN, strLoanDealSN, lDebtPackageId, 
    dtLoanTime, dtRepayTime, strBorrowEndDate, lRepayPrincipalAmount, lRepayInterestAmount, 
    nCompensatory, dtNextCallbackTime, nCallbackState, strCallbackURL, nCallBackCount, 
    dtCallBackTime, strCallbackFailDesc, dtCreateTime, tsRefreshTime, nIsGuarantee, strWarrantCardNo
  </sql>
  <sql id="Blob_Column_List" >
    txtMatchDetail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbborrowintent
    where lBorrowIntentId = #{lBorrowIntentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbborrowintent
    where lBorrowIntentId = #{lBorrowIntentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zoucai.zucai.model.BorrowIntent" >
    insert into tbborrowintent (lBorrowIntentId, lBorrowerId, strBorrowerName, 
      strIdCardType, strIdCardNo, strBorrowerMobile, 
      strRegularAccount, strLoginId, strBankCardNo, 
      strBankName, strBankCode, strBankReverseMobile, 
      strAttachURL, nBorrowProductType, lBorrowProductId, 
      nYearRate, lChannelBorrowIntentId, strChannelDealSN, 
      strPurpose, strBorrowAgreementURL, nTermCount, 
      nDayCount, lBorrowAmount, lExtraFee, 
      strBankBidId, nState, nMatchCallbackState, 
      nProtocolState, nAutoPackageCallbackState, 
      strFailDesc, strRemark, strPublishBidDealSN, 
      strBidDealSN, strLoanDealSN, lDebtPackageId, 
      dtLoanTime, dtRepayTime, strBorrowEndDate, 
      lRepayPrincipalAmount, lRepayInterestAmount, 
      nCompensatory, dtNextCallbackTime, nCallbackState, 
      strCallbackURL, nCallBackCount, dtCallBackTime, 
      strCallbackFailDesc, dtCreateTime, tsRefreshTime, 
      nIsGuarantee, strWarrantCardNo, txtMatchDetail
      )
    values (#{lBorrowIntentId,jdbcType=BIGINT}, #{lBorrowerId,jdbcType=BIGINT}, #{strBorrowerName,jdbcType=VARCHAR}, 
      #{strIdCardType,jdbcType=VARCHAR}, #{strIdCardNo,jdbcType=VARCHAR}, #{strBorrowerMobile,jdbcType=VARCHAR}, 
      #{strRegularAccount,jdbcType=VARCHAR}, #{strLoginId,jdbcType=VARCHAR}, #{strBankCardNo,jdbcType=VARCHAR}, 
      #{strBankName,jdbcType=VARCHAR}, #{strBankCode,jdbcType=VARCHAR}, #{strBankReverseMobile,jdbcType=VARCHAR}, 
      #{strAttachURL,jdbcType=VARCHAR}, #{nBorrowProductType,jdbcType=VARCHAR}, #{lBorrowProductId,jdbcType=BIGINT}, 
      #{nYearRate,jdbcType=INTEGER}, #{lChannelBorrowIntentId,jdbcType=BIGINT}, #{strChannelDealSN,jdbcType=VARCHAR}, 
      #{strPurpose,jdbcType=VARCHAR}, #{strBorrowAgreementURL,jdbcType=VARCHAR}, #{nTermCount,jdbcType=TINYINT}, 
      #{nDayCount,jdbcType=INTEGER}, #{lBorrowAmount,jdbcType=BIGINT}, #{lExtraFee,jdbcType=BIGINT}, 
      #{strBankBidId,jdbcType=VARCHAR}, #{nState,jdbcType=TINYINT}, #{nMatchCallbackState,jdbcType=INTEGER}, 
      #{nProtocolState,jdbcType=INTEGER}, #{nAutoPackageCallbackState,jdbcType=INTEGER}, 
      #{strFailDesc,jdbcType=VARCHAR}, #{strRemark,jdbcType=VARCHAR}, #{strPublishBidDealSN,jdbcType=VARCHAR}, 
      #{strBidDealSN,jdbcType=VARCHAR}, #{strLoanDealSN,jdbcType=VARCHAR}, #{lDebtPackageId,jdbcType=BIGINT}, 
      #{dtLoanTime,jdbcType=TIMESTAMP}, #{dtRepayTime,jdbcType=TIMESTAMP}, #{strBorrowEndDate,jdbcType=VARCHAR}, 
      #{lRepayPrincipalAmount,jdbcType=BIGINT}, #{lRepayInterestAmount,jdbcType=BIGINT}, 
      #{nCompensatory,jdbcType=TINYINT}, #{dtNextCallbackTime,jdbcType=TIMESTAMP}, #{nCallbackState,jdbcType=INTEGER}, 
      #{strCallbackURL,jdbcType=VARCHAR}, #{nCallBackCount,jdbcType=INTEGER}, #{dtCallBackTime,jdbcType=TIMESTAMP}, 
      #{strCallbackFailDesc,jdbcType=VARCHAR}, #{dtCreateTime,jdbcType=TIMESTAMP}, #{tsRefreshTime,jdbcType=TIMESTAMP}, 
      #{nIsGuarantee,jdbcType=INTEGER}, #{strWarrantCardNo,jdbcType=VARCHAR}, #{txtMatchDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zoucai.zucai.model.BorrowIntent" >
    insert into tbborrowintent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lBorrowIntentId != null" >
        lBorrowIntentId,
      </if>
      <if test="lBorrowerId != null" >
        lBorrowerId,
      </if>
      <if test="strBorrowerName != null" >
        strBorrowerName,
      </if>
      <if test="strIdCardType != null" >
        strIdCardType,
      </if>
      <if test="strIdCardNo != null" >
        strIdCardNo,
      </if>
      <if test="strBorrowerMobile != null" >
        strBorrowerMobile,
      </if>
      <if test="strRegularAccount != null" >
        strRegularAccount,
      </if>
      <if test="strLoginId != null" >
        strLoginId,
      </if>
      <if test="strBankCardNo != null" >
        strBankCardNo,
      </if>
      <if test="strBankName != null" >
        strBankName,
      </if>
      <if test="strBankCode != null" >
        strBankCode,
      </if>
      <if test="strBankReverseMobile != null" >
        strBankReverseMobile,
      </if>
      <if test="strAttachURL != null" >
        strAttachURL,
      </if>
      <if test="nBorrowProductType != null" >
        nBorrowProductType,
      </if>
      <if test="lBorrowProductId != null" >
        lBorrowProductId,
      </if>
      <if test="nYearRate != null" >
        nYearRate,
      </if>
      <if test="lChannelBorrowIntentId != null" >
        lChannelBorrowIntentId,
      </if>
      <if test="strChannelDealSN != null" >
        strChannelDealSN,
      </if>
      <if test="strPurpose != null" >
        strPurpose,
      </if>
      <if test="strBorrowAgreementURL != null" >
        strBorrowAgreementURL,
      </if>
      <if test="nTermCount != null" >
        nTermCount,
      </if>
      <if test="nDayCount != null" >
        nDayCount,
      </if>
      <if test="lBorrowAmount != null" >
        lBorrowAmount,
      </if>
      <if test="lExtraFee != null" >
        lExtraFee,
      </if>
      <if test="strBankBidId != null" >
        strBankBidId,
      </if>
      <if test="nState != null" >
        nState,
      </if>
      <if test="nMatchCallbackState != null" >
        nMatchCallbackState,
      </if>
      <if test="nProtocolState != null" >
        nProtocolState,
      </if>
      <if test="nAutoPackageCallbackState != null" >
        nAutoPackageCallbackState,
      </if>
      <if test="strFailDesc != null" >
        strFailDesc,
      </if>
      <if test="strRemark != null" >
        strRemark,
      </if>
      <if test="strPublishBidDealSN != null" >
        strPublishBidDealSN,
      </if>
      <if test="strBidDealSN != null" >
        strBidDealSN,
      </if>
      <if test="strLoanDealSN != null" >
        strLoanDealSN,
      </if>
      <if test="lDebtPackageId != null" >
        lDebtPackageId,
      </if>
      <if test="dtLoanTime != null" >
        dtLoanTime,
      </if>
      <if test="dtRepayTime != null" >
        dtRepayTime,
      </if>
      <if test="strBorrowEndDate != null" >
        strBorrowEndDate,
      </if>
      <if test="lRepayPrincipalAmount != null" >
        lRepayPrincipalAmount,
      </if>
      <if test="lRepayInterestAmount != null" >
        lRepayInterestAmount,
      </if>
      <if test="nCompensatory != null" >
        nCompensatory,
      </if>
      <if test="dtNextCallbackTime != null" >
        dtNextCallbackTime,
      </if>
      <if test="nCallbackState != null" >
        nCallbackState,
      </if>
      <if test="strCallbackURL != null" >
        strCallbackURL,
      </if>
      <if test="nCallBackCount != null" >
        nCallBackCount,
      </if>
      <if test="dtCallBackTime != null" >
        dtCallBackTime,
      </if>
      <if test="strCallbackFailDesc != null" >
        strCallbackFailDesc,
      </if>
      <if test="dtCreateTime != null" >
        dtCreateTime,
      </if>
      <if test="tsRefreshTime != null" >
        tsRefreshTime,
      </if>
      <if test="nIsGuarantee != null" >
        nIsGuarantee,
      </if>
      <if test="strWarrantCardNo != null" >
        strWarrantCardNo,
      </if>
      <if test="txtMatchDetail != null" >
        txtMatchDetail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lBorrowIntentId != null" >
        #{lBorrowIntentId,jdbcType=BIGINT},
      </if>
      <if test="lBorrowerId != null" >
        #{lBorrowerId,jdbcType=BIGINT},
      </if>
      <if test="strBorrowerName != null" >
        #{strBorrowerName,jdbcType=VARCHAR},
      </if>
      <if test="strIdCardType != null" >
        #{strIdCardType,jdbcType=VARCHAR},
      </if>
      <if test="strIdCardNo != null" >
        #{strIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="strBorrowerMobile != null" >
        #{strBorrowerMobile,jdbcType=VARCHAR},
      </if>
      <if test="strRegularAccount != null" >
        #{strRegularAccount,jdbcType=VARCHAR},
      </if>
      <if test="strLoginId != null" >
        #{strLoginId,jdbcType=VARCHAR},
      </if>
      <if test="strBankCardNo != null" >
        #{strBankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="strBankName != null" >
        #{strBankName,jdbcType=VARCHAR},
      </if>
      <if test="strBankCode != null" >
        #{strBankCode,jdbcType=VARCHAR},
      </if>
      <if test="strBankReverseMobile != null" >
        #{strBankReverseMobile,jdbcType=VARCHAR},
      </if>
      <if test="strAttachURL != null" >
        #{strAttachURL,jdbcType=VARCHAR},
      </if>
      <if test="nBorrowProductType != null" >
        #{nBorrowProductType,jdbcType=VARCHAR},
      </if>
      <if test="lBorrowProductId != null" >
        #{lBorrowProductId,jdbcType=BIGINT},
      </if>
      <if test="nYearRate != null" >
        #{nYearRate,jdbcType=INTEGER},
      </if>
      <if test="lChannelBorrowIntentId != null" >
        #{lChannelBorrowIntentId,jdbcType=BIGINT},
      </if>
      <if test="strChannelDealSN != null" >
        #{strChannelDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strPurpose != null" >
        #{strPurpose,jdbcType=VARCHAR},
      </if>
      <if test="strBorrowAgreementURL != null" >
        #{strBorrowAgreementURL,jdbcType=VARCHAR},
      </if>
      <if test="nTermCount != null" >
        #{nTermCount,jdbcType=TINYINT},
      </if>
      <if test="nDayCount != null" >
        #{nDayCount,jdbcType=INTEGER},
      </if>
      <if test="lBorrowAmount != null" >
        #{lBorrowAmount,jdbcType=BIGINT},
      </if>
      <if test="lExtraFee != null" >
        #{lExtraFee,jdbcType=BIGINT},
      </if>
      <if test="strBankBidId != null" >
        #{strBankBidId,jdbcType=VARCHAR},
      </if>
      <if test="nState != null" >
        #{nState,jdbcType=TINYINT},
      </if>
      <if test="nMatchCallbackState != null" >
        #{nMatchCallbackState,jdbcType=INTEGER},
      </if>
      <if test="nProtocolState != null" >
        #{nProtocolState,jdbcType=INTEGER},
      </if>
      <if test="nAutoPackageCallbackState != null" >
        #{nAutoPackageCallbackState,jdbcType=INTEGER},
      </if>
      <if test="strFailDesc != null" >
        #{strFailDesc,jdbcType=VARCHAR},
      </if>
      <if test="strRemark != null" >
        #{strRemark,jdbcType=VARCHAR},
      </if>
      <if test="strPublishBidDealSN != null" >
        #{strPublishBidDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strBidDealSN != null" >
        #{strBidDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strLoanDealSN != null" >
        #{strLoanDealSN,jdbcType=VARCHAR},
      </if>
      <if test="lDebtPackageId != null" >
        #{lDebtPackageId,jdbcType=BIGINT},
      </if>
      <if test="dtLoanTime != null" >
        #{dtLoanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dtRepayTime != null" >
        #{dtRepayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strBorrowEndDate != null" >
        #{strBorrowEndDate,jdbcType=VARCHAR},
      </if>
      <if test="lRepayPrincipalAmount != null" >
        #{lRepayPrincipalAmount,jdbcType=BIGINT},
      </if>
      <if test="lRepayInterestAmount != null" >
        #{lRepayInterestAmount,jdbcType=BIGINT},
      </if>
      <if test="nCompensatory != null" >
        #{nCompensatory,jdbcType=TINYINT},
      </if>
      <if test="dtNextCallbackTime != null" >
        #{dtNextCallbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nCallbackState != null" >
        #{nCallbackState,jdbcType=INTEGER},
      </if>
      <if test="strCallbackURL != null" >
        #{strCallbackURL,jdbcType=VARCHAR},
      </if>
      <if test="nCallBackCount != null" >
        #{nCallBackCount,jdbcType=INTEGER},
      </if>
      <if test="dtCallBackTime != null" >
        #{dtCallBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strCallbackFailDesc != null" >
        #{strCallbackFailDesc,jdbcType=VARCHAR},
      </if>
      <if test="dtCreateTime != null" >
        #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tsRefreshTime != null" >
        #{tsRefreshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nIsGuarantee != null" >
        #{nIsGuarantee,jdbcType=INTEGER},
      </if>
      <if test="strWarrantCardNo != null" >
        #{strWarrantCardNo,jdbcType=VARCHAR},
      </if>
      <if test="txtMatchDetail != null" >
        #{txtMatchDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoucai.zucai.model.BorrowIntent" >
    update tbborrowintent
    <set >
      <if test="lBorrowerId != null" >
        lBorrowerId = #{lBorrowerId,jdbcType=BIGINT},
      </if>
      <if test="strBorrowerName != null" >
        strBorrowerName = #{strBorrowerName,jdbcType=VARCHAR},
      </if>
      <if test="strIdCardType != null" >
        strIdCardType = #{strIdCardType,jdbcType=VARCHAR},
      </if>
      <if test="strIdCardNo != null" >
        strIdCardNo = #{strIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="strBorrowerMobile != null" >
        strBorrowerMobile = #{strBorrowerMobile,jdbcType=VARCHAR},
      </if>
      <if test="strRegularAccount != null" >
        strRegularAccount = #{strRegularAccount,jdbcType=VARCHAR},
      </if>
      <if test="strLoginId != null" >
        strLoginId = #{strLoginId,jdbcType=VARCHAR},
      </if>
      <if test="strBankCardNo != null" >
        strBankCardNo = #{strBankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="strBankName != null" >
        strBankName = #{strBankName,jdbcType=VARCHAR},
      </if>
      <if test="strBankCode != null" >
        strBankCode = #{strBankCode,jdbcType=VARCHAR},
      </if>
      <if test="strBankReverseMobile != null" >
        strBankReverseMobile = #{strBankReverseMobile,jdbcType=VARCHAR},
      </if>
      <if test="strAttachURL != null" >
        strAttachURL = #{strAttachURL,jdbcType=VARCHAR},
      </if>
      <if test="nBorrowProductType != null" >
        nBorrowProductType = #{nBorrowProductType,jdbcType=VARCHAR},
      </if>
      <if test="lBorrowProductId != null" >
        lBorrowProductId = #{lBorrowProductId,jdbcType=BIGINT},
      </if>
      <if test="nYearRate != null" >
        nYearRate = #{nYearRate,jdbcType=INTEGER},
      </if>
      <if test="lChannelBorrowIntentId != null" >
        lChannelBorrowIntentId = #{lChannelBorrowIntentId,jdbcType=BIGINT},
      </if>
      <if test="strChannelDealSN != null" >
        strChannelDealSN = #{strChannelDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strPurpose != null" >
        strPurpose = #{strPurpose,jdbcType=VARCHAR},
      </if>
      <if test="strBorrowAgreementURL != null" >
        strBorrowAgreementURL = #{strBorrowAgreementURL,jdbcType=VARCHAR},
      </if>
      <if test="nTermCount != null" >
        nTermCount = #{nTermCount,jdbcType=TINYINT},
      </if>
      <if test="nDayCount != null" >
        nDayCount = #{nDayCount,jdbcType=INTEGER},
      </if>
      <if test="lBorrowAmount != null" >
        lBorrowAmount = #{lBorrowAmount,jdbcType=BIGINT},
      </if>
      <if test="lExtraFee != null" >
        lExtraFee = #{lExtraFee,jdbcType=BIGINT},
      </if>
      <if test="strBankBidId != null" >
        strBankBidId = #{strBankBidId,jdbcType=VARCHAR},
      </if>
      <if test="nState != null" >
        nState = #{nState,jdbcType=TINYINT},
      </if>
      <if test="nMatchCallbackState != null" >
        nMatchCallbackState = #{nMatchCallbackState,jdbcType=INTEGER},
      </if>
      <if test="nProtocolState != null" >
        nProtocolState = #{nProtocolState,jdbcType=INTEGER},
      </if>
      <if test="nAutoPackageCallbackState != null" >
        nAutoPackageCallbackState = #{nAutoPackageCallbackState,jdbcType=INTEGER},
      </if>
      <if test="strFailDesc != null" >
        strFailDesc = #{strFailDesc,jdbcType=VARCHAR},
      </if>
      <if test="strRemark != null" >
        strRemark = #{strRemark,jdbcType=VARCHAR},
      </if>
      <if test="strPublishBidDealSN != null" >
        strPublishBidDealSN = #{strPublishBidDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strBidDealSN != null" >
        strBidDealSN = #{strBidDealSN,jdbcType=VARCHAR},
      </if>
      <if test="strLoanDealSN != null" >
        strLoanDealSN = #{strLoanDealSN,jdbcType=VARCHAR},
      </if>
      <if test="lDebtPackageId != null" >
        lDebtPackageId = #{lDebtPackageId,jdbcType=BIGINT},
      </if>
      <if test="dtLoanTime != null" >
        dtLoanTime = #{dtLoanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dtRepayTime != null" >
        dtRepayTime = #{dtRepayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strBorrowEndDate != null" >
        strBorrowEndDate = #{strBorrowEndDate,jdbcType=VARCHAR},
      </if>
      <if test="lRepayPrincipalAmount != null" >
        lRepayPrincipalAmount = #{lRepayPrincipalAmount,jdbcType=BIGINT},
      </if>
      <if test="lRepayInterestAmount != null" >
        lRepayInterestAmount = #{lRepayInterestAmount,jdbcType=BIGINT},
      </if>
      <if test="nCompensatory != null" >
        nCompensatory = #{nCompensatory,jdbcType=TINYINT},
      </if>
      <if test="dtNextCallbackTime != null" >
        dtNextCallbackTime = #{dtNextCallbackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nCallbackState != null" >
        nCallbackState = #{nCallbackState,jdbcType=INTEGER},
      </if>
      <if test="strCallbackURL != null" >
        strCallbackURL = #{strCallbackURL,jdbcType=VARCHAR},
      </if>
      <if test="nCallBackCount != null" >
        nCallBackCount = #{nCallBackCount,jdbcType=INTEGER},
      </if>
      <if test="dtCallBackTime != null" >
        dtCallBackTime = #{dtCallBackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strCallbackFailDesc != null" >
        strCallbackFailDesc = #{strCallbackFailDesc,jdbcType=VARCHAR},
      </if>
      <if test="dtCreateTime != null" >
        dtCreateTime = #{dtCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tsRefreshTime != null" >
        tsRefreshTime = #{tsRefreshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nIsGuarantee != null" >
        nIsGuarantee = #{nIsGuarantee,jdbcType=INTEGER},
      </if>
      <if test="strWarrantCardNo != null" >
        strWarrantCardNo = #{strWarrantCardNo,jdbcType=VARCHAR},
      </if>
      <if test="txtMatchDetail != null" >
        txtMatchDetail = #{txtMatchDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where lBorrowIntentId = #{lBorrowIntentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zoucai.zucai.model.BorrowIntent" >
    update tbborrowintent
    set lBorrowerId = #{lBorrowerId,jdbcType=BIGINT},
      strBorrowerName = #{strBorrowerName,jdbcType=VARCHAR},
      strIdCardType = #{strIdCardType,jdbcType=VARCHAR},
      strIdCardNo = #{strIdCardNo,jdbcType=VARCHAR},
      strBorrowerMobile = #{strBorrowerMobile,jdbcType=VARCHAR},
      strRegularAccount = #{strRegularAccount,jdbcType=VARCHAR},
      strLoginId = #{strLoginId,jdbcType=VARCHAR},
      strBankCardNo = #{strBankCardNo,jdbcType=VARCHAR},
      strBankName = #{strBankName,jdbcType=VARCHAR},
      strBankCode = #{strBankCode,jdbcType=VARCHAR},
      strBankReverseMobile = #{strBankReverseMobile,jdbcType=VARCHAR},
      strAttachURL = #{strAttachURL,jdbcType=VARCHAR},
      nBorrowProductType = #{nBorrowProductType,jdbcType=VARCHAR},
      lBorrowProductId = #{lBorrowProductId,jdbcType=BIGINT},
      nYearRate = #{nYearRate,jdbcType=INTEGER},
      lChannelBorrowIntentId = #{lChannelBorrowIntentId,jdbcType=BIGINT},
      strChannelDealSN = #{strChannelDealSN,jdbcType=VARCHAR},
      strPurpose = #{strPurpose,jdbcType=VARCHAR},
      strBorrowAgreementURL = #{strBorrowAgreementURL,jdbcType=VARCHAR},
      nTermCount = #{nTermCount,jdbcType=TINYINT},
      nDayCount = #{nDayCount,jdbcType=INTEGER},
      lBorrowAmount = #{lBorrowAmount,jdbcType=BIGINT},
      lExtraFee = #{lExtraFee,jdbcType=BIGINT},
      strBankBidId = #{strBankBidId,jdbcType=VARCHAR},
      nState = #{nState,jdbcType=TINYINT},
      nMatchCallbackState = #{nMatchCallbackState,jdbcType=INTEGER},
      nProtocolState = #{nProtocolState,jdbcType=INTEGER},
      nAutoPackageCallbackState = #{nAutoPackageCallbackState,jdbcType=INTEGER},
      strFailDesc = #{strFailDesc,jdbcType=VARCHAR},
      strRemark = #{strRemark,jdbcType=VARCHAR},
      strPublishBidDealSN = #{strPublishBidDealSN,jdbcType=VARCHAR},
      strBidDealSN = #{strBidDealSN,jdbcType=VARCHAR},
      strLoanDealSN = #{strLoanDealSN,jdbcType=VARCHAR},
      lDebtPackageId = #{lDebtPackageId,jdbcType=BIGINT},
      dtLoanTime = #{dtLoanTime,jdbcType=TIMESTAMP},
      dtRepayTime = #{dtRepayTime,jdbcType=TIMESTAMP},
      strBorrowEndDate = #{strBorrowEndDate,jdbcType=VARCHAR},
      lRepayPrincipalAmount = #{lRepayPrincipalAmount,jdbcType=BIGINT},
      lRepayInterestAmount = #{lRepayInterestAmount,jdbcType=BIGINT},
      nCompensatory = #{nCompensatory,jdbcType=TINYINT},
      dtNextCallbackTime = #{dtNextCallbackTime,jdbcType=TIMESTAMP},
      nCallbackState = #{nCallbackState,jdbcType=INTEGER},
      strCallbackURL = #{strCallbackURL,jdbcType=VARCHAR},
      nCallBackCount = #{nCallBackCount,jdbcType=INTEGER},
      dtCallBackTime = #{dtCallBackTime,jdbcType=TIMESTAMP},
      strCallbackFailDesc = #{strCallbackFailDesc,jdbcType=VARCHAR},
      dtCreateTime = #{dtCreateTime,jdbcType=TIMESTAMP},
      tsRefreshTime = #{tsRefreshTime,jdbcType=TIMESTAMP},
      nIsGuarantee = #{nIsGuarantee,jdbcType=INTEGER},
      strWarrantCardNo = #{strWarrantCardNo,jdbcType=VARCHAR},
      txtMatchDetail = #{txtMatchDetail,jdbcType=LONGVARCHAR}
    where lBorrowIntentId = #{lBorrowIntentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoucai.zucai.model.BorrowIntent" >
    update tbborrowintent
    set lBorrowerId = #{lBorrowerId,jdbcType=BIGINT},
      strBorrowerName = #{strBorrowerName,jdbcType=VARCHAR},
      strIdCardType = #{strIdCardType,jdbcType=VARCHAR},
      strIdCardNo = #{strIdCardNo,jdbcType=VARCHAR},
      strBorrowerMobile = #{strBorrowerMobile,jdbcType=VARCHAR},
      strRegularAccount = #{strRegularAccount,jdbcType=VARCHAR},
      strLoginId = #{strLoginId,jdbcType=VARCHAR},
      strBankCardNo = #{strBankCardNo,jdbcType=VARCHAR},
      strBankName = #{strBankName,jdbcType=VARCHAR},
      strBankCode = #{strBankCode,jdbcType=VARCHAR},
      strBankReverseMobile = #{strBankReverseMobile,jdbcType=VARCHAR},
      strAttachURL = #{strAttachURL,jdbcType=VARCHAR},
      nBorrowProductType = #{nBorrowProductType,jdbcType=VARCHAR},
      lBorrowProductId = #{lBorrowProductId,jdbcType=BIGINT},
      nYearRate = #{nYearRate,jdbcType=INTEGER},
      lChannelBorrowIntentId = #{lChannelBorrowIntentId,jdbcType=BIGINT},
      strChannelDealSN = #{strChannelDealSN,jdbcType=VARCHAR},
      strPurpose = #{strPurpose,jdbcType=VARCHAR},
      strBorrowAgreementURL = #{strBorrowAgreementURL,jdbcType=VARCHAR},
      nTermCount = #{nTermCount,jdbcType=TINYINT},
      nDayCount = #{nDayCount,jdbcType=INTEGER},
      lBorrowAmount = #{lBorrowAmount,jdbcType=BIGINT},
      lExtraFee = #{lExtraFee,jdbcType=BIGINT},
      strBankBidId = #{strBankBidId,jdbcType=VARCHAR},
      nState = #{nState,jdbcType=TINYINT},
      nMatchCallbackState = #{nMatchCallbackState,jdbcType=INTEGER},
      nProtocolState = #{nProtocolState,jdbcType=INTEGER},
      nAutoPackageCallbackState = #{nAutoPackageCallbackState,jdbcType=INTEGER},
      strFailDesc = #{strFailDesc,jdbcType=VARCHAR},
      strRemark = #{strRemark,jdbcType=VARCHAR},
      strPublishBidDealSN = #{strPublishBidDealSN,jdbcType=VARCHAR},
      strBidDealSN = #{strBidDealSN,jdbcType=VARCHAR},
      strLoanDealSN = #{strLoanDealSN,jdbcType=VARCHAR},
      lDebtPackageId = #{lDebtPackageId,jdbcType=BIGINT},
      dtLoanTime = #{dtLoanTime,jdbcType=TIMESTAMP},
      dtRepayTime = #{dtRepayTime,jdbcType=TIMESTAMP},
      strBorrowEndDate = #{strBorrowEndDate,jdbcType=VARCHAR},
      lRepayPrincipalAmount = #{lRepayPrincipalAmount,jdbcType=BIGINT},
      lRepayInterestAmount = #{lRepayInterestAmount,jdbcType=BIGINT},
      nCompensatory = #{nCompensatory,jdbcType=TINYINT},
      dtNextCallbackTime = #{dtNextCallbackTime,jdbcType=TIMESTAMP},
      nCallbackState = #{nCallbackState,jdbcType=INTEGER},
      strCallbackURL = #{strCallbackURL,jdbcType=VARCHAR},
      nCallBackCount = #{nCallBackCount,jdbcType=INTEGER},
      dtCallBackTime = #{dtCallBackTime,jdbcType=TIMESTAMP},
      strCallbackFailDesc = #{strCallbackFailDesc,jdbcType=VARCHAR},
      dtCreateTime = #{dtCreateTime,jdbcType=TIMESTAMP},
      tsRefreshTime = #{tsRefreshTime,jdbcType=TIMESTAMP},
      nIsGuarantee = #{nIsGuarantee,jdbcType=INTEGER},
      strWarrantCardNo = #{strWarrantCardNo,jdbcType=VARCHAR}
    where lBorrowIntentId = #{lBorrowIntentId,jdbcType=BIGINT}
  </update>
</mapper>